<!-- Site banner -->
    <div class="banner">
        <div class="container">
            
            
            <div class="table-responsive"  ng-controller="DataController as dataCtrl">
            
            	<!-- <table-view tableApi=vm.tableApi></table-view> -->
            	<table style="border: 1px solid black;" class="table table-condensed">
  					<tr style="border: 1px solid black;">
      					<th style="border: 1px solid black;" ng-repeat="(header,value) in dataCtrl.tableData[0]">{{header}}</th>
  					</tr>
  					<tr style="border: 1px solid black;" ng-repeat="(header,value) in dataCtrl.tableData">
    					<td style="border: 1px solid black;" ng-repeat="(header,value) in value">{{value}}</td>
  					</tr>
				</table>
                      </div>
                    </div>
            </div>
            
        </div>
    </div>

    
    
    
